<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <remove name="WebServiceHandlerFactory-ISAPI-4.0_64bit" />
            <remove name="WebServiceHandlerFactory-ISAPI-4.0_32bit" />
            <remove name="WebServiceHandlerFactory-ISAPI-2.0-64" />
            <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
            <remove name="WebServiceHandlerFactory-Integrated-4.0" />
            <remove name="WebServiceHandlerFactory-Integrated" />
            <remove name="WebAdminHandler-Integrated-4.0" />
            <remove name="WebAdminHandler-Integrated" />
            <remove name="vbhtml-ISAPI-4.0_64bit" />
            <remove name="vbhtml-ISAPI-4.0_32bit" />
            <remove name="vbhtml-Integrated-4.0" />
            <remove name="vbhtm-ISAPI-4.0_64bit" />
            <remove name="vbhtm-ISAPI-4.0_32bit" />
            <remove name="vbhtm-Integrated-4.0" />
            <remove name="TraceHandler-Integrated-4.0" />
            <remove name="TraceHandler-Integrated" />
            <remove name="SimpleHandlerFactory-ISAPI-4.0_64bit" />
            <remove name="SimpleHandlerFactory-ISAPI-4.0_32bit" />
            <remove name="SimpleHandlerFactory-ISAPI-2.0-64" />
            <remove name="SimpleHandlerFactory-ISAPI-2.0" />
            <remove name="SimpleHandlerFactory-Integrated-4.0" />
            <remove name="SimpleHandlerFactory-Integrated" />
            <remove name="SecurityCertificate" />
            <remove name="ScriptResourceIntegrated-4.0" />
            <remove name="ScriptHandlerFactoryAppServices-Integrated-4.0" />
            <remove name="PageHandlerFactory-ISAPI-4.0_64bit" />
            <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />
            <remove name="PageHandlerFactory-ISAPI-2.0-64" />
            <remove name="PageHandlerFactory-ISAPI-2.0" />
            <remove name="PageHandlerFactory-Integrated-4.0" />
            <remove name="PageHandlerFactory-Integrated" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_64bit" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_32bit" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0-64" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" />
            <remove name="HttpRemotingHandlerFactory-soap-Integrated-4.0" />
            <remove name="HttpRemotingHandlerFactory-soap-Integrated" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_64bit" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_32bit" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0-64" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" />
            <remove name="HttpRemotingHandlerFactory-rem-Integrated-4.0" />
            <remove name="HttpRemotingHandlerFactory-rem-Integrated" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <remove name="cshtml-ISAPI-4.0_64bit" />
            <remove name="cshtml-ISAPI-4.0_32bit" />
            <remove name="cshtml-Integrated-4.0" />
            <remove name="cshtm-ISAPI-4.0_64bit" />
            <remove name="cshtm-ISAPI-4.0_32bit" />
            <remove name="cshtm-Integrated-4.0" />
            <remove name="AXD-ISAPI-4.0_64bit" />
            <remove name="AXD-ISAPI-4.0_32bit" />
            <remove name="AXD-ISAPI-2.0-64" />
            <remove name="AXD-ISAPI-2.0" />
            <remove name="AssemblyResourceLoader-Integrated-4.0" />
            <remove name="AssemblyResourceLoader-Integrated" />
            <remove name="aspq-ISAPI-4.0_64bit" />
            <remove name="aspq-ISAPI-4.0_32bit" />
            <remove name="aspq-Integrated-4.0" />
            <remove name="ASPClassic" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        </handlers>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
